*
{
    box-sizing: border-box;
}
body
{
    padding: 0;
    margin: 0;
}
.header
{
    position: absolute;
    background-color: #f57e20;
    height:50px;
    width: 100%;
    z-index: 5;
    padding-top:0;
}