*
{
    box-sizing: border-box;
}
body
{
    padding: 0;
    margin: 0;
}
.header
{
    position: absolute;
    background-color: #ff4500;
    height:50px;
    width: 100%;
    z-index: 6;
    padding-top:0;
}
.heade{
    position: absolute;
    background-color: #ff4500;
    height:50px;
    min-width: 100%;
    z-index: 6;
}

.t1{
    padding-top:50px ;
    text-align:center;
    background-color: red;
    background-attachment: fixed;
    z-index: 5;
    
    
    
}
.main{padding-top:50px;
    background-attachment: red;
    

}
.img{padding-top: 40px;
    justify-content: center;
    align-content: center;
    margin-left: 100vh;
}
.card{
    width:70vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 69vh;
}
.sidebar
{
    position: absolute;
    width:100%;
    height: 100vh;
    background-color:#ff0000 ;
    z-index: 5;
    padding-top: 50px;
}
.main-content{padding-top:50px;
               background-attachment: fixed;
               margin-left: 20%;

            }

.sidebar ul{
    list-style: none;
    margin:0;
    padding:0;

}
.sidebar ul li
{
    padding: 20px 10px;
    border-bottom: 1px solid #fff;
    text-align: center;

    }
.sidebar ul li a
{
    color:#ffffff;
    text-decoration: none;

}
.sidebar ul li span:nth-child(2){
    display:none;
}
.sidebar ul li i{
    font-size:30px;
}
.container-fluid{
    padding: 10px;

}
.col-lg-3{padding-top: 10px;}


/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px){
    .sidebar{
        width:75px;
    }
    .side bar ul li{text-align: center;}
    .sidebar ul li span:nth-child(2){display: none;}
    .sidebar ul li i{font-size: 30px;}
    .main-content{
        margin-left: 75px;
    }
    
}
/* Extra small devices (portrait phones,less than 576px) */
@media (max-width:575.98px)
{
    .sidebar{
        width: 75px;
    }
    .sidebar ul li{
        text-align: left;
    }
    .sidebar ul li span:nth-child(2)
    {display: none;}
    .sidebar ul li i{
        font-size:20px;

    }
    .main-content{margin-left: 75px;}

}
/* Tablet mode (768px and up) */
@media (min-width:768px){
    .sidebar{
        width:100px;
    }
    .sidebar ul li span:nth-child(2)
    {display: none;}
    .sidebar ul li{
        text-align: center;
    }
     .sidebar ul li i{
        font-size:30px;

    }  
    .main-content{margin-left: 100px;}
}
/* Large devices */
@media (min-width:992px){
    .sidebar{width:90px;}
    .sidebar ul li {text-align: left;}
    .sidebar ul li span:nth-child(2){
        display:inline;
    }
    .sidebar ul li i{
        font-size: 20px;
    }
    .main-content{margin-left: 90px;}
}
/* Extra large devices */
@media (min-width:1200px){
    .sidebar{width:200px}
    .sidebar ul li{
        text-align: left;
       }
       .sidebar ul li span:nth-child(2){
        display: inline;

       }
        .sidebar ul li i{ 
            font-size: 20px;
        }
        .main-content{margin-left: 200px;}
}
    


